ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_ENTITLEMENTS=calcalcal/calcalcal.entitlements
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=0.1
DEVELOPMENT_ASSET_PATHS="calcalcal/"
DEVELOPMENT_TEAM=6WQZSHL3K5
ENABLE_PREVIEWS=YES
MARKETING_VERSION=0.1
PRODUCT_BUNDLE_IDENTIFIER=stua.calcalcal
PRODUCT_NAME=Calycal
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks