<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>https://calycal-app-egy2b.ondigitalocean.app</string>
	<key>CFBundleDisplayName</key>
	<string>Calycal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.719863771026-al64a24evjcndbtcn7395eqq1to8m5n2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>719863771026-al64a24evjcndbtcn7395eqq1to8m5n2.apps.googleusercontent.com</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>719863771026-al64a24evjcndbtcn7395eqq1to8m5n2.apps.googleusercontent.com</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.healthcare-fitness</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take photos of your food for calorie tracking.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to your health data to automatically sync your weight, height, and activity levels for accurate calorie tracking.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need permission to save your calorie intake and nutrition data to Apple Health so you can track your nutrition in one place.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need to get the images for calorie tracking.</string>
	<key>UIAppFonts</key>
	<array>
		<string>InstrumentSans-Regular.ttf</string>
		<string>InstrumentSans-Medium.ttf</string>
		<string>InstrumentSans-Bold.ttf</string>
		<string>InstrumentSans-SemiBold.ttf</string>
		<string>InstrumentSansCondensed-Regular.ttf</string>
		<string>InstrumentSansCondensed-Medium.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array/>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
